@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@await Html.PartialAsync("Carousel")

<h2>Preferred Lipsticks of the Week</h2>
<h4>Clients preferences - Just for you!</h4>

<div class="row">
    @foreach (var lipstick in Model.PreferredLipsticks)
    {
        @await Html.PartialAsync("LipsticksSummary", lipstick)
    }
</div>
