@{
    ViewData["Title"] = "Home Page";
}

<h2>@Model.CurrentCategory</h2>

<div class="row">
    @{
        foreach (Lipstick lipstick in Model.Lipsticks)
        {
            @await Html.PartialAsync("LipsticksSummary", lipstick)
        }
    }
</div>
        